.name-bar,
.email-bar{
    
        display: block;
        border-width: 2px;
    }
.name-bar{
        font-size: 15px;
        color:rgba(168, 167, 167, 0.675); 
        width: 200px;
        padding-left:5px ;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        border-radius: 4px;
        border-color: rgb(182, 174, 174);
        border: solid;
        margin-bottom: 10px;
    } 
.email-bar{
        font-size: 15px;
        color:rgba(168, 167, 167, 0.675);
        width: 200px;
        padding-left:5px ;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        border-radius: 4px;
        border-color: rgb(182, 174, 174);
        border: solid;
    }
.description-text{
        font-size: 15px;
        width: 190px;
        vertical-align: middle;
        margin-left: 10px;
    }
.yes-button{
        font-size: 15px;
        vertical-align: middle;
        margin-right: 0px;
    }
.no-button{
        font-size: 15px;
        vertical-align: middle;
    }
.description-text,
.no-button,
.yes-button{
        display: inline-block;
    }
.google-image{
        display: block;
        object-fit: cover;
        width: 100px;
        margin-left: 400px;
        margin-bottom: 0px;
    }
.search-bar{
        border-radius: 15px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 100px;
        border: none;
        box-shadow: 2px 2px 5px rgba(151, 151, 151, 0.834);
        margin-bottom: 30px;
        font-size: 10px;
        display: block;
        margin-top: 15px;
        margin-left: 320px;
        width: 150px;
    }
    .first-name{
        width: 200px;
        padding-left:5px ;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        border-radius: 4px;
        border-color: rgb(163, 162, 162);
        border: solid;
    }
    .last-name{
        width: 200px;
        padding-left:5px ;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        border-radius: 4px;
        border-color: rgb(182, 174, 174);
        border: solid;
    }
    .first-name,
    .last-name{
        display: inline;
        border-color: rgba(168, 167, 167, 0.675);
        border-width: 2px;
        margin-bottom: 5px;
    }
    .email-bar2{
        width: 422px;
        padding-left:5px ;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        border-radius: 4px;
        border-color: rgb(163, 162, 162);
        border: solid;
        display: block;
        border-color: rgba(168, 167, 167, 0.675);
        border-width: 2px;
    }
    .signup-button{
        color: white;
        background-color: rgb(43, 104, 234);
        border-radius: 2px;
        border: none;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 223px;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 440px;
        font-weight: bold;
        border-radius: 4px;
    }
    .heading{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
    }
    .pickup-bar{
        padding-left:15px ;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        border-radius: 4px;
        border-color: rgb(196, 191, 191);
        border: solid;
        display: block;
        margin-top: 0px;
        margin-bottom: 5px;
        width: 223px;
        border: none;
        background-color: rgba(231, 229, 229, 0.842);
    }
    .destination-bar{
        padding-left:15px ;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        border-radius: 4px;
        border-color: rgb(196, 191, 191);
        border: solid;
        display: block;
        margin-top: 5px;
        margin-bottom: 0px;
        width: 223px;
        border: none;
        background-color:  rgba(231, 229, 229, 0.842);
    }
.request-button{
        background-color: black;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        border: none;
        font-size: 15px;
        margin-top: 20px;
}
.later-button{
        color: black;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        border: none;
        background-color:  rgba(231, 229, 229, 0.842);
        font-size: 15px;

}

